.card-body img {
    max-width: 100%;
    height: auto; /* Esto asegura que la imagen mantenga su proporción original */
}

 

body {

    font-family: 'Roboto', sans-serif;
  
    color: rgba(0, 0, 0, 0.87);
  
    background-color: #fafafa;
  
    margin: 0;
  
    padding: 0;
  
    line-height: 1.5;
  
  }
  
  /* Estilos generales para los inputs */
  
  input {
  
    font-family: 'Roboto', sans-serif;
  
    font-size: 16px;
  
    padding: 10px 12px;
  
    border: none;
  
    border-radius: 4px;
  
    background-color: rgba(0, 0, 0, 0.09);
  
    color: rgba(0, 0, 0, 0.87);
  
    outline: none;
  
    transition: background-color 0.3s ease;
  
  }
  
   
  
  /* Estilo para el label */
  
  input + label {
  
    position: relative;
  
    top: -60px;
  
    left: 12px;
  
    font-size: 16px;
  
    color: rgba(0, 0, 0, 0.54);
  
    pointer-events: none;
  
    transition: all 0.3s ease;
  
  }
  
   
  
  /* Estilo para el label cuando el input tiene valor */
  
  input:not(:placeholder-shown) + label,
  
  input:focus + label {
  
    top: -75px;
  
    left: 8px;
  
    font-size: 12px;
  
    color: #3f51b5;
  
  }
  
   
  
  /* Estilo para el underline */
  
  input::after {
  
    content: "";
  
    display: block;
  
    width: 100%;
  
    height: 2px;
  
    background-color: #3f51b5;
  
    transform: scaleX(0);
  
    transition: transform 0.3s ease;
  
  }
  
   
  
  /* Estilo para el underline cuando el input tiene foco */
  
  input:focus::after {
  
    transform: scaleX(1);
  
  }
  
   
  
  .card {
  
          margin: 10px;
  
    width: 300px; /* Ajusta el ancho según tus necesidades */
  
    background-color: #fff; /* Color de fondo */
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
  
    border-radius: 8px; /* Bordes redondeados */
  
    overflow: hidden; /* Evita que el contenido desborde la tarjeta */
  
  }
  
  .material-button {
  
    display: inline-flex;
  
    justify-content: center;
  
    align-items: center;
  
    height: 36px;
  
    padding: 0 16px;
  
    border-radius: 4px;
  
    font-size: 14px;
  
    font-weight: 500;
  
    letter-spacing: 0.02857em;
  
    text-transform: uppercase;
  
    cursor: pointer;
  
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    box-sizing: border-box;
  
  }
  
   
  
  .material-button--contained {
  
    background-color: #3f51b5;
  
    color: #fff;
  
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  
  }
  
   
  
  .material-button--contained:hover {
  
    background-color: #303f9f;
  
  }
  
   
  
  .material-button--contained:active {
  
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
  }
  
   
  
  .material-button--outlined {
  
    border: 1px solid #3f51b5;
  
    color: #3f51b5;
  
  }
  
   
  
  .material-button--outlined:hover {
  
    background-color: #e0e0e0;
  
    color: #3f51b5;
  
  }
  
   
  
  .material-button--outlined:active {
  
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
  }
  
   
  
  .card-header {
  
    padding: 5px;
  
    background-color: #f1f1f1; /* Color de fondo del encabezado */
  
  }
  
   
  
  .todo-elancho{
  
      width: 98%;
  
  }
  
  .bg-azul
  
  {
  
      background-color: #adb9f3;  
  
  }
  
  .bg-amarillo{
  
      background-color: hwb(56 31% 4%);
  
  }
  
  .card-body {
  
    padding: 20px;
  
  }
  
   
  
  .card-footer {
  
    padding: 20px;
  
    background-color: #f1f1f1; /* Color de fondo del pie */
  
  }
  
  dialog {
  
              /*width: 350px;*/
  
              padding: 20px;
  
              background-color: #f9f9f9;
  
              border: 1px solid #ccc;
  
              border-radius: 5px;
  
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
          }